<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wave Function Collapse</title>
        <base href="{{ meta_base_url }}" />
        <!-- React -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.development.js"
            integrity="sha512-m7nhpWHotpucPI37I4lPovL28Bm2BhAMV8poF3F8Z9oOEZ3jlxGzkgvG0EMt1mVL1xydr1erlBbmN90js/ssUw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- React DOM -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.development.min.js"
            integrity="sha512-I5GJQRKGdj2miDs8ComgARfiAQiZJo/43YasH22qtweoG+YRXLTDYegxC/vPgw/ERxRzww/F4l4+8UiMmI20sw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- Lodash -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="images/favicon.png" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed|Muli:600,800"
        />
    </head>
    <body>
        <div id="enable-javascript">
            <p>
                This website is build with JavaScript. Please enable it to use
                it.
            </p>
        </div>
        <div id="app"></div>
    </body>
</html>
