/**
 * @File Font faces
 *
 * @Author Alexander Bassov Thu Dec 01 2022 5:56:08 AM
 * @Email blackxes.dev@gmail.com
 */

@font-face {
    font-family: "GoodTimes";
    font-weight: normal;
    src: url("../../../Public/assets/fonts/good_times/good_times_regular.otf") format("opentype");
}